.splitcontentleft {
	width: 64% !important;
}

.splitcontentright {
	width: 34% !important;
}

.home_activities {
	padding: 6px 2px;
	margin: 0;
	margin-bottom: 20px;
}

.home_activities > dl {
	margin: 0 !important;
}

.home_activities .more {
	float: right;
}

.home_activities_item {
	border-top: 1px solid #e8e8e8;
	padding: 12px 6px;
	min-height: 33px;
}

.home_activities_item:hover {
	background-color: #f2f2f2;
}

.home_activities_item:first-child {
	border: none;
}

.home_activities_item acronym {
	text-decoration: none !important;
	border: none !important;
}

.home_activities_item .a_project {
	opacity: 0.7;
}

.home_activities_item .time {
	margin-left: 10px;
	text-decoration: none !important;
	border: none !important;
	float: right;
}
